.fileSelectScreen {
    position: absolute;
    width: 75vw;
    min-height: 75vh;
    height: fit-content;
    background-color: white;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5vh;
}

button, input {
    border: none;
    border-radius: 1vh;
    font-size: large;
    padding: 1vh;
}

button {
    /*
        idle: rgb(145, 214, 228)
        loading: rgb(228, 227, 145)
        complete: rgb(145, 228, 155)
    */
    background-color: rgb(145, 214, 228);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;   
}